#gamecontainer{
    text-align: center;
    
}

#gameboard{
    border: 3px solid;
}

#scoretext{
    font-size: 100px;
    font-family: "Permanent Marker", cursive;
}
#resetbtn{
    font-size: 22px;
    width: 100px;
    border: 4px solid;
    cursor: pointer;
    border-radius: 15px;
}